<div class="container-index-center">
  <div>
    <div class="mt-4">
      <h1>Movimentações </h1>
    </div>
    <p class='border-bottom'><strong>Total:</strong> <%= Transaction.sum_transactions(@transactions) %></p>
    <br>
    <div class="row">
      <% @transactions.each do |line| %>
          <div class="col-6">
            <div class ="card-right">
              <h1 class="border-bottom border-top"><%= line.store_owner %></h1>
              <p><strong>Occurence:</strong> <%= line.occurence %></p>
              <p><strong>Card:</strong> <%= line.card_number %></p>
              <p><strong>Store_name:</strong> <%= line.card_number %></p>
              <p><strong>Card:</strong> <%= line.card_number %></p>
              <p class='border-bottom'><strong>Value:</strong> <%= line.value %></p>
            </div>
          </div>
    <% end %>
    </div>
    <br>
  </div>
</div>